{{ partial "header.html" . }}
  <body>

{{ partial "nav.html" . }}

    <section id="home">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Harbormaster</h1>

            <p class="text-center">
	      {{ .Site.Params.description }}
            </p>
          </div>
        </div>
        <div class="row gs">
          <div class="col-md-2 col-md-offset-5">
              <a class="btn btn-default btn-lg btn-block" href="/docs/getstarted/hbm/" role="button">Get Started</a>
          </div>
        </div>
      </div>
    </section>

    <section id="whatis">
      <div class="container">
        <div class="row">
	  <h1 class="text-center hbm-section-title">What is Harbormaster?</h1>
	</div>
        <div class="row">
          <p>
            By default, Docker commands are run over Unix socket, but this can be changed by using TCP with TLS enabled. The latter allow certificates to be used to connect to Docker remotely. Certificate's CN (Common Name) is used as username for RBAC to control who is allowed to do what.
	  </p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <img id="img-hbm-workflow" height="600px" src="/img/harbormaster-workflow.png" alt="Harbormaster workflow" />
	    </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3 class="text-center">HBM</h3>

            <p class="text-center">
            An application to authorize and manage whitelisted docker commands using Docker AuthZ plugin.
            </p>
          </div>
          <div class="col-md-4">
            <h3 class="text-center">TSA</h3>

            <p class="text-center">
            An application acting as a CA (Certification Authority) server to issue certificates for Docker Engines and users.
            </p>
          </div>
          <div class="col-md-4">
            <h3 class="text-center">TWIC</h3>

            <p class="text-center">
            A client application for HBM TSA to manage Docker certificates to connect to the Docker daemon using TLS.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h3 class="text-center">GPL 3 license</h3>

            <p class="text-center">
            Harbormaster are open source softwares released under the GPL-3 license.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="video">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <script src="https://asciinema.org/a/173571.js" id="asciicast-173571" async data-rows="27" data-speed="4"></script>
          </div>
        </div>
      </div>
    </section>

    <section id="features">
      <div class="container">
        <div class="row">
	  <h1 class="text-center hbm-section-title">Features</h1>
	</div>
        <div class="row">
          <div class="col-md-4">
            <center><i class="fab fa-docker fa-5x"></i></center>
            <h3 class="text-center">Docker Security</h3>

            <p class="text-center">
            Restrict Docker container access to host and network resources.
            </p>
          </div>
          <div class="col-md-4">
            <center><i class="fas fa-shield-alt fa-5x"></i></center>
            <h3 class="text-center">Runtime Protection</h3>

            <p class="text-center">
            HBM extends the open source Docker Engine by adding authorization control.
            </p>
          </div>
          <div class="col-md-4">
            <center><i class="fas fa-id-card fa-5x"></i></center>
            <h3 class="text-center">User Access Control</h3>

            <p class="text-center">
            HBM extends the open source Docker Engine by adding authorization control.
            </p>
          </div>
        </div>

        <br /><br /><br />

        <div class="row">
          <div class="col-md-4 col-md-offset-2">
            <center><i class="fas fa-tasks fa-5x"></i></center>
            <h3 class="text-center">Audit</h3>

            <p class="text-center">
            All Docker commands are tracked.
            </p>
          </div>
          <div class="col-md-4">
            <center><i class="fas fa-sync fa-5x"></i></center>
            <h3 class="text-center">Easy to Deploy</h3>

            <p class="text-center">
            HBM has zero deployment dependencies. It runs as a daemon side-by-side with Docker Daemon.
            </p>
          </div>
        </div>
      </div>
    </section>

    <div id="home-top">
      {{ partial "top-btn.html" . }}
    </div>

{{ partial "footer.html" . }}
